{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Cloud PaaS</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Cloud PaaS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/logout/">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid mt-5 mx-2">
		<div class="row h-100 justify-content-center mt-5">
			<div class="col-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active h4" id="v-pills-jobs-tab" data-toggle="pill" href="#v-pills-jobs" role="tab" aria-controls="v-pills-jobs" aria-selected="true">Jobs</a>
					<a class="nav-link h4" id="v-pills-results-tab" data-toggle="pill" href="#v-pills-results" role="tab" aria-controls="v-pills-results" aria-selected="false">Results</a>
					<a class="nav-link h4" id="v-pills-usage-tab" data-toggle="pill" href="#v-pills-usage" role="tab" aria-controls="v-pills-usage" aria-selected="false">Usage</a>
					<a class="nav-link h4" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
				</div>
			</div>
			<div class="col-9">
				<div class="tab-content w-100" id="v-pills-tabContent">
					<div class="tab-pane fade show active px-5" id="v-pills-jobs" role="tabpanel" aria-labelledby="v-pills-jobs-tab">
						<div class="row">
							<div class="col">
								<div class="text-right">
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">New Job</button>
								</div>
								<table class="table table-striped mt-3">
									<thead class="table-primary">
										<tr>
											<th>Sl. No.</th>
											<th>Name</th>
											<th>Services</th>
											<th>Creation Date</th>
										</tr>
									</thead>
									<tbody>
										{% for job in jobs %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{job.name}}</td>
											<td>{{job.services_order}}</td>
											<td>{{job.date_created}}</td>
										</tr>
										{% empty %}
										<tr><td class="text-center" colspan="4">No Jobs available. Please start a job to proceed</td></tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="tab-pane fade px-5" id="v-pills-results" role="tabpanel" aria-labelledby="v-pills-results-tab">
						<div class="row">
							<div class="col">
								<table class="table table-striped mt-3">
									<thead class="table-primary">
										<tr>
											<th>Sl. No.</th>
											<th>Job Name</th>
											<th>Min</th>
											<th>Max</th>
											<th>Average</th>
											<th>Storage</th>
										</tr>
									</thead>
									<tbody>
										{% for res in results %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{res.job_name}}</td>
											<td>{{res.min_val}}</td>
											<td>{{res.max_val}}</td>
											<td>{{res.avg_val}}</td>
											<td>{{res.filepath}}</td>
										</tr>
										{% empty %}
										<tr><td class="text-center" colspan="6">No results available yet . Please start a job or wait for the job to complete</td></tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="tab-pane fade jumbotron" id="v-pills-usage" role="tabpanel" aria-labelledby="v-pills-usage-tab">...</div>
					<div class="tab-pane fade jumbotron" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">New Job</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearform()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="jobname">Job Name</label>
						<input type="text" class="form-control" name="jobname" id="jobname" placeholder="" required>
					</div>
					<div class="form-group">
						<label for="password">Data Source</label>
						<div class="btn-group btn-group-toggle ml-5" data-toggle="buttons">
							<label class="btn btn-secondary active" onclick="showstatic()">
								<input type="radio" name="datatype" id="data-static" autocomplete="off" checked value="static"> Static
							</label>
							<label class="btn btn-secondary" onclick="showrealtime()">
								<input type="radio" name="datatype" id="data-realtime" autocomplete="off" value="realtime"> Realtime
							</label>
						</div>
					</div>
					<div class="form-group" id="static-group">
						<label for="file-doc">File to Upload</label>
						<div class="input-group">
							<label class="input-group-btn">
								<span class="btn btn-primary">
									Choose File <input type="file" id="file-doc" name="file-doc" style="display: none;">
								</span>
							</label>
							<input type="text" class="form-control" id="file-name" placeholder="Select the file" readonly required>
						</div>
					</div>
					<div class="form-group" id="realtime-group" style="display: none;">
						<label for="streamlink">Data Stream URL</label>
						<input type="text" class="form-control" name="streamlink" id="streamlink" placeholder="" required>
					</div>
					<div class="form-group">
						<label for="services">Services Required <small>Select in the order you want to execute</small></label>
						<div class="row">
							<div class="col-6">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="min-checkbox" onchange="serviceChecked('Min')">
									<label class="custom-control-label" for="min-checkbox">Min</label>
								</div>
							</div>
							<div class="col-6">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="max-checkbox" onchange="serviceChecked('Max')">
									<label class="custom-control-label" for="max-checkbox">Max</label>
								</div>
							</div>
							<div class="col-6">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="avg-checkbox" onchange="serviceChecked('Average')">
									<label class="custom-control-label" for="avg-checkbox">Average</label>
								</div>
							</div>
							<div class="col-6">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="storage-checkbox" onchange="serviceChecked('Storage')">
									<label class="custom-control-label" for="storage-checkbox">Storage</label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="service-order">Services Order</label>
						<div class="d-inline-block" id="order-field">
							
						</div>
					</div>
					<div class="form-group">
						<label for="colname">Column Name</label>
						<input type="text" class="form-control" name="colname" id="colname" placeholder="" required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearform()">Cancel</button>
					<button type="button" class="btn btn-primary" id="create-job">Start Job</button>
				</div>
			</div>
		</div>
	</div>
	<script>var csrf = '{{csrf_token}};'</script>
	<script type="text/javascript" src="{% static 'jquery-3.4.1.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'popper.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'user.js'%}"></script>
</body>
</html>